.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.box-score {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.span-score {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
}

.span-score-number {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.2);
}

.box-typing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    max-width: 420px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.box-words {
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: space-around;
    width: 92.5%;
    flex-wrap: wrap;
}

.box-form {
    padding: 10px;
    display: flex;
    width: 93.5%;
    justify-content: center;
}

.span-text {
    text-transform: uppercase;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    padding: 8px;
    margin: 4px;
    color: #000;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-typing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100%;
    padding: 4px 8px;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-typing:focus {
    outline: none;
}

.button-typing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-typing:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

.box-timer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.span-timer {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
}

.span-timer-number {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.2);
}

.box-play {
    position: absolute;
    top: 0;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-typing {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-play {
    background-color: #06D6A0;
}

.button-play:hover {
    cursor: pointer;
    background-color: rgba(6, 214, 160, .7);
}

.button-stop {
    background-color: #EF476F;
}

.button-stop:hover {
    cursor: pointer;
    background-color: rgba(239, 71, 111, .7);
}

.box-reset {
    position: absolute;
    bottom: 0;
    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-reset {
    background-color: #666;
}

.button-reset:hover {
    cursor: pointer;
    background-color: rgba(102, 102, 102, .7);
}

.button-reset:disabled {
    background-color: rgba(102, 102, 102, .5);
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .span-timer-number{
        font-size: 2rem;
    }

    .box-typing {
        background-color: unset;
        border-radius: unset;
        box-shadow: unset;
    }

    .box-timer {
        background-color: unset;
        border-radius: unset;
        box-shadow: unset;
    }

    .box-score {
        background-color: unset;
        border-radius: unset;
        box-shadow: unset;
    }

    .box-reset {
        left: 0;
    }

    .box-play {
        right: 0;
        bottom: 0;
        top: unset;
    }
}